<div class="container">
  <mat-card>
    <mat-card-content>
      <form
        [formGroup]="firstFormGroup"
        class="blue main-form"
        style="padding-left: 20px; padding-right: 20px; padding-bottom: 10vh"
      >
        <h1 style="color: white; font-size: 2rem">
          REGISTRATION FOR SEED STARS
        </h1>
        <br />

        <mat-label class="input-label">Username</mat-label>
        <mat-form-field appearance="outline" class="input-field">
          <input matInput formControlName="username" required />
          <mat-error
            *ngIf="firstFormGroup.controls['username'].hasError('required')"
          >
            Username is required!
          </mat-error> </mat-form-field
        ><br />

        <mat-label class="input-label">Password</mat-label>
        <mat-form-field appearance="outline" class="input-field">
          <input matInput type="password" formControlName="password" required />
          <mat-error
            *ngIf="firstFormGroup.controls['password'].hasError('required')"
          >
            Password is required!
          </mat-error> </mat-form-field
        ><br />

        <div style="text-align: center; color: white" class="input-field2">
          <div>
            <button
              style="font-size: 20px; border: 1px solid white"
              class="green-button"
              mat-button
              (click)="submit()"
            >
              Submit
            </button>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
