.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-label{
    padding-right: 5%;
}

mat-card{
    background: rgba(111, 111, 111, 0.21) !important;
    backdrop-filter: blur(17.5px) !important;
}

mat-card-content{
    text-align: center;
    color: white;
}

::-ms-input-placeholder{
    color: #fff;
    background-color: rgb(5, 173, 139);
}