<div class="container">
  <div class="header">
    <h1>Name</h1>
    <h1>Founder</h1>
    <h1>Genre</h1>
  </div>
  <div class="details">
    <h1>Details</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio
      voluptate accusantium aperiam facere repudiandae aliquid rerum, asperiores
      placeat, mollitia sit alias? Eos delectus voluptates, pariatur, officiis
      laboriosam laborum quisquam quasi quo praesentium architecto earum commodi
      dicta quaerat, blanditiis ab quibusdam! Vel provident eveniet cum iure
      molestias. Maiores commodi nostrum doloribus. Qui consectetur explicabo
      amet id beatae, nisi tempora, doloremque laborum reprehenderit, ducimus
      nemo saepe? Qui excepturi cupiditate libero temporibus consequatur at a
      maxime vero eos praesentium commodi obcaecati, voluptates, placeat autem
      iusto nulla, nostrum est natus mollitia deserunt voluptatibus repudiandae.
      Error ad numquam quod, voluptatem quaerat aperiam vitae dignissimos. Iste
      optio similique molestias et voluptatibus asperiores alias error
      repellendus sequi! Aut nulla iste excepturi aperiam possimus sit fugiat
      veniam expedita aliquid voluptates. Neque, consequuntur id non in dolorem
      totam illum distinctio possimus eos modi saepe debitis obcaecati commodi
      sit eius animi officia aut, iure pariatur et incidunt quidem sed nisi
      labore? Ad molestias assumenda nisi, quidem nesciunt dicta optio id
      aspernatur minus atque earum autem, ab maiores ipsam eius, accusamus porro
      in at possimus. Temporibus, corrupti velit alias praesentium nulla magnam
      ad! Velit voluptatibus tempore impedit accusantium earum cum nisi, ea
      ullam beatae illum quos iure ipsam consequuntur possimus reiciendis
      dolorem fugiat dignissimos modi eveniet, sunt hic numquam assumenda. Ad
      reprehenderit voluptate corporis quas! Fuga, soluta saepe? Quaerat,
      dolorem voluptas repellat assumenda ducimus vero eum commodi laborum saepe
      voluptate minima at ratione aspernatur adipisci rem fugiat dicta nostrum
      nemo modi sapiente enim totam pariatur? Est iusto velit laboriosam
      recusandae fugit.
    </p>
  </div>
  <a [routerLink] = "['/timer']"><button type="button" class="button control">Start the Pitch</button></a>
</div>
