<div class="container">
      <div class="flip-card floating" [class.flip-card]="flip1" [class.flip-card2]="flip2">
        <div [class.flip-card-inner]="flip1" [class.flip-card-inner2]="flip2" onclick="toggle()">
          <div class="flip-card-front">
            <img src="img_avatar.png" alt="Avatar" style="width:300px;height:300px;">
          </div>
          <div [class.flip-card-back]="flip1" [class.flip-card-back2]="flip2">
            <h1>John Doe</h1> 
            <p>Architect & Engineer</p> 
            <p>We love that guy</p>
          </div>
        </div>
      </div>
</div>