.example-card {
  max-width: 20%;
}

mat-card-header {
  left: 20%;
  padding: 0;
}
mat-card-title {
  text-align: center;
}
mat-card {
  border: none;
  color: #fff;
  background: transparent;
  top: 15%;
}
.container {
  display: flex;
  justify-content: space-around;
  top: 60%;
  left: 10%;
}
.logo {
  height: 70%;
}

a {
  text-decoration: none;
  color: white;
}
