.container{
    display: flex;
    // justify-self: ;
    // width: 100vw;
    // height: 100vh;
    min-height: 80vh;
    min-width: 80vw;
    justify-content: center;
    align-items: center;
}

.countdown{
    font-size: xx-large;
    font-weight: 700;
}

.logo{
    align-items: center;
    width:15%;
    height:3%;
}