.investor {
  width: 80vh;
  height: 10vh;
  border: 5px solid #f44336;
  border-radius: 30px;
  display: flex;
  justify-content: space-evenly;
  color: #fff;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}

.container {
  margin-left: 30%;
  margin-top: 10%;
}
.investor.img {
  height: 6vh;
}
.name {
  padding-top: 50%;
}

.investor div {
  padding-top: 4%;
}

.button {
  width: 300px;
  padding: 5px;
  margin-top: 15px;
  font-size: 36px;
  font-weight: bold;
  border: 2px solid #f44336;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  position: absolute;
  left: 40%;
}
.button:hover {
  background: #f44336;
  color: aliceblue;
}
