.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 60vh;
}

.name{
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
}

.buttons{
    position: absolute;
    bottom: 20px;
}

.startup_name{
    font-size: xx-large;
}

h1{
    font-size: 150px;
    font-weight: 900;
}